:root {
    --bg-blue-lighten-1: #42A5F5;
}

.app-emphasized-open-expansion-panels .v-expansion-panel--active .v-expansion-panel-title {
    background: var(--bg-blue-lighten-1);
    color: white;
}

.app-playlist-table .v-table__wrapper > table > thead > tr > th {
    font-weight: bold;
}

.app-playlist-table .v-table__wrapper > table > tbody > tr > td:first-child {
    white-space: break-spaces;
    word-break: break-all;
}